################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Booksotre/.vs/Booksotre
/Booksotre/Booksotre/bin/Debug/netcoreapp3.1
/Booksotre/Booksotre/obj
